<!doctype html>
<html>
  <head>
    <title>YEW EF OH</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
  </head>
  <body onload="populateList();">
    <h2 id="header">Recent UFO Sightings</h2>
    <!-- This UFO animation code is modified from https://codepen.io/PappaMalvin/pen/yLOKajY -->
    <div id="box-left">
        <div class="ufo_body"></div>
        <div class="ufo_top"></div>
    </div>

    <div id="separate">
      <input type="text" onfocus="this.value=''" id="location-input" placeholder="Location" />
      <button id="next-button" onclick="getLocation()">Find Place</button>
      <input type="text" onfocus="this.value=''" id="date-input" placeholder="Occurrence date" />
      <button id="next-button" onclick="getDate()">Find Date</button>
      <button id="next-button" onclick="populateList()">Refresh</button>
    </div>
    
    <div>
    <table>
      <thead>
        <tr>
          <th id="head-row">Occurrence Date</th>
          <th id="head-row">Posted Date</th>
          <th id="head-row">City</th>
          <th id="head-row">State</th>
          <th id="head-row">Country</th>
          <th id="head-row">Shape</th>
          <th id="head-row">Summary</th>
        </tr>
      </thead>
      <tbody id="ufos-list">
      </tbody>
    </table>
    </div id="separate"> 
    <script src="static/script.js"></script>
  </body>
</html>